@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Sen", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.download-button-container {
  text-align: center;
  margin-top: 20px;
}
.download-button-container {
  text-align: center;
  margin-top: 20px;
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #4caf50; /* Green border */
  color: #4caf50; /* Green text */
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.download-btn:hover,
.download-btn:focus {
  color: white;
  background-color: #4caf50; /* Green background on hover */
}

/* Gallery stuff */
.sample-data-section {
  text-align: center;
  /* padding: 40px 20px; */
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* margin: 40px; */
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent; /* Set background to transparent */
}

.section-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 30px;
}

/* Ensure no background color for gallery container */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* No background-color property here */
}

.gallery-item {
  display: block;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: transform 0.3s, border-color 0.3s;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.05); /* Slightly enlarge on hover */
  border-color: #4caf50; /* Green border on hover */
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* header 8 */
.bg-material-ui-blue {
  background-color: white /* #2196F3; /* Material UI Blue */
}

.text-white {
  color: black; /* White text */
}

.text-white:hover, .text-white-700:hover {
  color: #2196F3; /* Lighter blue for hover effect, adjust as needed */
}

.button-base {
  padding: 8px 20px; /* Consistent padding */
  border-radius: 4px; /* Rounded corners */
  text-align: center;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px; /* Space between buttons */
  margin-bottom: 8px;
  margin-top: 20px;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* General hover effect for all buttons */
.button-base:hover {
  opacity: 0.9;
}

/* Style for the toggle button */
.toggle-button {
  background-color: #f0ad4e; /* Bootstrap's 'warning' color */
  color: white;
}

/* Style for the 'Clear' button */
.clear-button {
  background-color: #dcdcdc; /* Light gray */
  color: black;
}

/* Style for the 'Find boxes' button */
.find-boxes-button {
  background-color: #5cb85c; /* Bootstrap's 'success' color */
  color: white;
}

/* Style for the 'Process Image' button */
.process-image-button {
  background-color: #0275d8; /* Bootstrap's 'primary' color */
  color: white;
}

/* Additional style for disabled buttons */
.button-base:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

/* Existing CSS ... */

/* Channel Button Styles */
.channel-button {
  padding: 6px 12px;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  margin-right: 8px; /* Match horizontal space with .button-base */
  margin-bottom: 0px; /* Match vertical space with .button-base */
}



.channel-nuclear{
  background-color: #4caf50; /* Green background */
  color: white;
}

.channel-wholecell {
  background-color: #2196f3; /* Blue background */
  color: white;
}

.channel-blank {
  background-color: #f44336; /* Red background */
  color: white;
}

.channel-button:hover {
  opacity: 0.8;
}

.channel-button:active {
  border-color: #333; /* Dark border for active state */
}

/* Rest of your existing CSS ... */
