@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Sen', sans-serif !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.download-button-container {
  text-align: center;
  margin-top: 20px;
}
.download-button-container {
  text-align: center;
  margin-top: 20px;
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #4CAF50; /* Green border */
  color: #4CAF50; /* Green text */
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.download-btn:hover, .download-btn:focus {
  color: white;
  background-color: #4CAF50; /* Green background on hover */
}
